.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .title {
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(181, 184, 155); /* Deep espresso brown */
    text-decoration: none;
  }
  
  .navLinks {
    list-style: none;
    display: flex;
    gap: 2rem;
    margin: 0;
    padding: 0;
  }
  
  .navLinks li {
    display: inline;
  }
  
  .navLinks a {
    text-decoration: none;
    color: rgb(181, 184, 155); /* Espresso brown */
    font-weight: 600;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    transition: background 0.3s ease, color 0.3s ease;
  }
  
  .navLinks a:hover {
    background-color: #486858; /* Matcha green */
    color: rgb(181, 184, 155);
  }
  
  .active {
    background-color: #fbc2eb;
    color: #a6c1ee !important;
    font-weight: bold;
    box-shadow: 0 2px 8px 0 #a6c1ee33;
  }
  