:root {
    /*COLORS*/
    --color-text: #fff;
    /*this is the color of the word portfolio for the title*/
    --color-primary: #576cbc;
    --color-secondary: #19376d;
    --color-dark: #0b2447;
    --color-bg: #04152d;
     
    /* Fronts */
    --font-roboto: "Roboto";
}