:root {
    /*COLORS*/
    --color-text: #E6DED1;
    /*this is the color of the word portfolio for the title*/
    --color-primary: #a6c1ee;
    --color-secondary: #3F4E40;
    --color-dark: #B5B89B;
    --color-bg: #fff;
     
    /* Fonts */
    --font-roboto: "Roboto";
}